
<div class="container-fluid mt-5"> 
    <div class="row border rounded ">

        <div class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio aspernatur quas, quae aliquam corrupti nulla, cupiditate omnis pariatur nihil dolor nam iste possimus. Facilis corrupti debitis eligendi beatae fugiat asperiores!
        </div>
            
        <div class="col-6  text-center " id="left-footer"> 
         Gupreet Singh <br>
         khandoli, Rajpura <br>
         Punjab 140401
        </div>

        <div class="col-6 text-center right-footer"> 
            www.paytoservice.com  <br>
            copyright 2020 <br>
            Follow us on fb
        </div>

    </div>
</div>