{% extends "blog/structure.html" %}
{% load static %}

{% block title %} Homepage  {% endblock title %}

{% block style %}     {% endblock style %}  

{% block links %}   
<link  rel="stylesheet" href="{% static 'css/default.css'%}">

<link  id ="theme-style" rel="stylesheet" href="{% static 'css/light.css'%}">
{% endblock links%}

{% block navbar %} 

    {% include "blog/navbar.html"%}

{% endblock navbar%}


{% block content %}
    <h2>This is homepage</h2>
    <a href="{% static 'css/home.css'%}"> css link</a>

    <div id="theme-options-wrapper">
        <div id="light-mode" class="theme-dot" data-mode="light"></div>
        <div id="blue-mode" class="theme-dot" data-mode="blue"></div>
        <div id="green-mode" class="theme-dot" data-mode="green"></div>
    </div>


    <div>
        <h2 id="name">Gurpreet Singh</h2>
        <p id="intro">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempora modi rerum? Aliquam numquam, dicta maxime explicabo voluptatibus aperiam autem nihil similique dolorum neque atque fuga ipsum recusandae ex saepe.
        </p>
    </div>

   
{% endblock content%}


{% block footer %} 
    {% include "blog/footer.html" %}
{% endblock footer %}

{% block script %}  
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>

{% endblock script %}