
{% extends "blog/structure.html" %}
{% load static %}

{% block title %} All Posts {% endblock title %}

{% block style %}  

.posts
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}

.tags 
{
    color : black;
    background : lightgrey;
    border-radius : 5px;
}


.card-body > a
{
       padding: 5px;
    border-radius: 5px;
    color: black !important;
    background: radial-gradient(white, #77181800);
}
{% endblock style %}  

{% block links %}   
<link  rel="stylesheet" href="{% static 'css/default.css'%}">

<link  id ="theme-style" rel="stylesheet" href="{% static 'css/light.css'%}">
{% endblock links%}

{% block navbar %} 

    {% include "blog/navbar.html"%}

{% endblock navbar%}


{% block content %}

<div class="container-fluid">
   <div class="row">
        <div class="posts">
         

            {% for post in posts %}
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{post.headline}}
                        <hr>
                        {{post.tags.all}}
                            <span class="tags">  
                                {% for tags in post.tags.all %}
                                    {{tags}}

                                {% endfor %}
                            </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{post.sub_headline}}</h5>
                        <p class="card-text">{{post.context}}</p>

                        <a href="{% url 'post' post.id %}" class="">Read more</a>
                    </div>
                </div>

            {% endfor%}
        </div>
    </div>
</div>
{% endblock content%}


{% block footer %} 
    {% include "blog/footer.html" %}
{% endblock footer %}

{% block script %}  
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>

{% endblock script %}