:root {
    --backgroundColor : rgb(109, 25, 219);
    --mainColor : rgba(236, 51, 51, 0.349);
    --secondaryColor : rgba(32, 141, 18, 0.849);
    --mainText: rgba(3, 11, 44, 0.952);
    --text : rgba(18, 223, 80, 0.507);
}